body {
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 28px 0;
}
.search-input {
  width: 272px;
  height: 40px;
  border-radius: 8px;

  padding-left: 12px;
  font: 400 16px / 1.5 'Montserrat', sans-serif;
  color: #808080;
  border: 1px solid #808080;
  outline: transparent;
}
.search-input:hover {
  border: 1px solid #000000;
}
.search-input:active {
  border: 1px solid #4e75ff;
}

.search-button {
  background: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  font: 500 16px / 1.5 'Montserrat', sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: 350ms;
}

.search-button:hover {
  background: #6c8cff;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.card {
  border: 1px solid #808080;
  width: 360px;
  height: 200px;
  display: flex;
  flex-direction: column;
}
.card img {
  width: 360px;
  object-fit: cover;
  height: 152px;
}
.list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.item-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
h3 {
  margin-top: 4px;
  font: 600 12px / 1.33333 'Montserrat', sans-serif;
}

p {
  font: 400 12px / 2 'Montserrat', sans-serif;
}

.load-more-btn {
  background: #4e75ff;
  border-radius: 8px;
  width: 125px;
  height: 40px;
  display: none;
  justify-content: center;
  align-items: center;
  border: none;
  font: 500 16px / 1.5 'Montserrat', sans-serif;
  color: #fff;
  margin: 40px auto;
}

.end-message {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 400 16px / 1.5 'Montserrat', sans-serif;
  color: #2e2f42;
  margin: 40px auto;
  text-align: center;
}
